/**
 * This file contains custom styles for the EHR software. Colors carefully chosen as per the general theme for
 * LibreEHR. ANY modifications to this file should seek the libreEHR community before  for approval!
 *
 * @package LibreHealth EHR
 * @author Mua N. Laurent <muarachmann@gmail.com>
 *
 * Please help the overall project by sending changes you make to the author and to the LibreEHR community.
 */

.dropdown:hover .dropdown-menu {
    display: block;
}

#patient-menu li {
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
}

#patient-menu li:last-child::after {
    display: none;
}


/*=====================
 overflow scroll style
===================== */

.overflow-scroll-container::-webkit-scrollbar {
    width: 4px;
}

.overflow-scroll-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(40, 55, 71, 0.7);
}

.overflow-scroll-container::-webkit-scrollbar-thumb {
    background-color: #f59031;
    outline: 1px solid #283747;
}


