html {
    &.dark {
        @apply bg-dark-1 text-gray-100;
        body {
            @apply text-white;
            *, ::before, ::after {
                @apply border-transparent;
            }
        }
    }
    body {
        -webkit-font-smoothing: antialiased;
        @apply overflow-x-hidden text-sm bg-gray-100 text-gray-800;
    }
}

.overflow-scroll-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.overflow-scroll-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(177, 207, 225, 0.7);
}

.overflow-scroll-container::-webkit-scrollbar-thumb {
    @apply bg-theme-1;
    outline: 1px solid #f59031;
}

.form-error {
    @apply flex text-xs mt-1 text-red-400 dark:text-red-400;
}

.required {
    @apply text-red-600 dark:text-red-400 text-xs;
}

.box {
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
    position: relative;
    border-radius: .375rem;
    border-color: transparent;
    background-color: rgba(255,255,255, var(--tw-bg-opacity));
}

